<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>

        <input-field type="text">
            <name>careerPageTitle</name>
            <label>Enter career page title</label>
            <defaultValue>Collaboration opportunities</defaultValue>
            <copyable>true</copyable>
        </input-field>

        <component name="sw-media-field">
            <name>careerPageImage</name>
            <label>Upload media</label>
        </component>
    </card>

</config>
