{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <div>
        <h1 class="heading-style">{{ careerPageTitle }}</h1>
        <h3>{{ message }}</h3>
        <img src="{{ careerPageImage }}" class="w-100" alt="Career page image">
    </div>
{% endblock %}